* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  cursor: default;
}

body {
  height: 100vh;
  background-image: url("https://source.unsplash.com/1600x900/?istanbul");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  main {
    display: flex;
    height: 100%;
    .main-container {
      flex: 3;
      display: flex;
      align-items: flex-end;
      padding-left: 1rem;
      // padding-bottom: 1rem;
      &::before {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.349),
          rgba(0, 0, 0, 0.315)
        );
        z-index: 0;
      }
      .main-details {
        position: relative;
        width: 100%;
        display: flex;
        gap: 2rem;
        margin-bottom: 1rem;
        .degree {
          font-size: 6rem;
          display: flex;
          align-items: center;
        }
        .city-info {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          .city {
            font-size: 2.5rem;
          }

          .date {
            font-size: 1.3rem;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
          }
        }
        .weather-info {
          .icon {
            font-size: 1.2rem;
          }
          .weather-name {
            font-size: 1.2rem;
            text-align: center;
          }
        }
      }
    }
    .form-side {
      position: relative;
      flex: 2;
      backdrop-filter: blur(1rem);
      right: 0;
      box-shadow: 1px 1px 20px 5px rgba($color: #000000, $alpha: 0.5);
      padding-left: 1rem;
    }
    form {
      display: flex;
      flex-direction: column;
      height: 100%;
      .search-bar {
        flex: 1;
        display: flex;
        gap: 0.5rem;
        input {
          color: white;
          flex: 10;
          background: none;
          border: none;
          border-bottom: 1px solid white;
          font-size: 1.5rem;
          padding: 0.2rem 0.5rem 0.2rem 0.2rem;
          margin-top: 1rem;
          text-transform: capitalize;
          cursor: auto;
          &::placeholder {
            color: rgba(255, 255, 255, 0.753);
            padding: 0.3rem;
          }
          &:focus {
            transition: 1s ease;
            outline: none;
            border-bottom: 1px solid orangered;
          }
        }
        button {
          flex: 2;
          width: 14%;
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          background: none;
          &:hover {
            cursor: pointer;
          }
        }
      }
      .suggest-city {
        flex: 5;
        width: 85%;
        display: flex;
        font-size: 1.1rem;
        ul {
          height: 100%;
          list-style-type: none;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          padding-left: 0.5rem;
          li {
            cursor: pointer;
            transition: 0.3s ease-in-out;
            &:hover {
              color: rgb(255, 2, 2);
            }
          }
        }
      }
      .weather-details {
        flex: 4;
        border-top: 1px solid white;
        padding-top: 1rem;
        padding-right: 1rem;

        h2 {
          font-size: 1.4rem;
        }

        ul {
          height: 85%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          list-style-type: none;
          font-size: 1.1rem;
          li {
            display: flex;
            justify-content: space-between;
            border-bottom: dashed 1px rgba(255, 255, 255, 0.39);
            padding: 0.2rem 0.5rem;
            transition: 0.3s ease-in-out;
            &:hover {
              background-color: rgba(255, 255, 255, 0.164);
              border-radius: 0.3rem;
              border: none;
            }
          }
        }
      }
    }
  }
}
